/* Normal desktop :1200px. */
@media (min-width: 1200px) {


.banner_countdown {
	background-position: 30%;
}

}


/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199.98px) {


.banner_static-content {
	padding-left: 50px;
}

.products-design .products-cont h2 {
	font-size: 34px;
}

.single-collection a {
	font-size: 22px;
	top: 15px;
	left: 20px;
}
.footer-content .footer-menu-2 li {
	margin-right: 18px;
}

.footer-content .social li {
	margin-left: 7px;
}
.watch-image .watch-content {
	left: 50px;
	bottom: 50px;
}
.watch-image .watch-content.content-2 {
	left: 30px;
	bottom: 30px;
}

.modal-dialog {
	max-width: 870px;
}
.modal-products-content {
	padding: 40px;
}
.modal-products-content .products-add {
	margin: 30px 0;
}
        
.checkout-page .check-login-cupon p {
	padding: 16px 0px;
	font-size: 14px;
	padding-left: 15px;
}
.checkout-page .check-login-cupon p i {
	padding-right: 5px;
}

/*==== Blog Page ====*/

.blog-content {
	padding: 0 50px;
}


/*==== shopping cart Page ====*/

.shopping-cart-table .cart-table tbody tr td.product-image-name table tr td.name {
	padding: 0 35px;
}
/*==== order tracking Page ====*/
.order-tracking-page .order-tracking-item P {
	padding: 0 10px;
}
/*==== faq Page ====*/
.faq-content p {
	font-size: 14px;
	padding-right: 0;
}

    
/*==== wishlist Page ====*/

.wishlist-table .cart-table tbody tr td.product-image-name table tr td.name {
	padding: 0px 30px;
}

.wishlist-table .cart-table thead tr th.product-thumb-title {
	padding-right: 300px;
}
.wishlist-table .cart-table thead tr th.product-title {
	padding-right: 50px;
}
.wishlist-table .cart-table thead tr th.product-title {
	padding-right: 40px;
}


/*==== newsletter popup ====*/

.newsletter-popup-wrapper {
	width: 800px;
	height: 440px;
}






}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991.98px) {

.header-area {
	padding: 30px 0;
}

.logo {
	margin-top: 0;
}

.offset-menu-wrapper {
	padding: 0;
	position: absolute;
	top: -28px;
	right: 15px;
}

.single-slider {
	height: 550px;
}

.products-design .products-cont {
	padding-left: 0;
	padding-top: 25px;
	padding-right: 0;
}

.products-design {
	padding-top: 50px;
}

.products-design .products-image {
	margin-top: 50px;
}


.slider-cont-4 h4 {
	margin-bottom: 15px;
}
.slider-cont-4 h2 {
	font-size: 94px;
}
.slider-cont-4 p {
	font-size: 22px;
}

.watch-image {
	margin-bottom: 30px;
}
.trending-active .slick-arrow {
	top: 37%;
}
.shopping-cart-canvas{
    width: 350px;
}

/*==== Index 4 ====*/

.header-menu-area {
    padding: 25px 0;
}
.header-menu-area .logo{
    display: block;
}
.header-menu-area .offset-menu-wrapper{
    display: block;
}

/*==== Modal ===*/
.modal-dialog {
	max-width: 670px;
}
.modal-products-content {
	padding: 30px 25px;
}
.modal-products-content .products-add {
	margin: 20px 0;
}
.modal-products-content .products-title {
	font-size: 18px;
}
.modal-products-content .price-rating .price {
	font-size: 20px;
}
.price-rating {
	margin-top: 5px;
}
.modal-products-content p{
    font-size: 14px;
    margin-top: 10px;
}
.modal-products-content .products-add .nice-number button {
	height: 38px;
	padding: 0px 10px;
}
.modal-products-content .products-add .nice-number input {
	height: 37px;
}
.modal-products-content .products-add .main-btn {
	line-height: 38px;
}


/*==== Blog Page ====*/

.blog-content {
	padding: 0 50px;
}



/*==== Shop layout Page ====*/


.shop-details-content {
	padding-left: 0;
}
.shop-details-content .product-title {
	font-size: 24px;
}
.shop-details-content .product-rating span,
.shop-details-content .product-rating a {
	font-size: 14px;
	margin-left: 20px;
}
.product-add .product-count .nice-number input {
	width: 110px !important;
}

.shop-description-tab .shop-tab-menu .nav .nav-item {
	margin: 15px 20px;
}

.shop-description-tab .shop-tab-menu .nav .nav-item a {
	font-size: 20px;
}


/*==== Contact Page ====*/


.single-contact-info.hr-border{
    border-left: 1px solid #e5e5e5;
    border-right: 0;
}
.contact-map #contact-map {
	height: 450px;
}


/*==== shopping cart Page ====*/

.shopping-cart-table .cart-table tbody tr td.product-image-name table tr td.name {
	padding: 0 20px;
}
.shopping-cart-table .cart-table tbody tr td.product-quantity .quantity .nice-number input {
	width: 100px !important;
	font-size: 15px;
}

.shopping-cart-table .cart-table thead tr th.product-thumb-title {
	padding-right: 310px;
}
.shopping-cart-table .cart-table thead tr th.product-title {
	padding-right: 60px;
}

.check-login-cupon{
    margin-bottom: 0;
}
    
/*==== order tracking Page ====*/
.order-tracking-page .order-tracking-item P {
	padding: 0 8px;
}

/*==== Faq Page ====*/
.faq .faq-content {
	margin-top: 20px;
}
.faq-title {
	margin-top: 20px;
}
.faq {
	padding-top: 30px;
}

.faq-content p {
color: #999999;
font-size: 15px;
}
.faq .faq-title span {
	color: #cc0000;
	font-size: 18px;
}
.faq .faq-content span {
	font-size: 14px;
	color: #000;
}


/*==== wishlist Page ====*/

.wishlist-table .cart-table tbody tr td.product-image-name table tr td.name {
	padding: 0px 30px;
}

.wishlist-table .cart-table thead tr th.product-thumb-title {
	padding-right: 270px;
}
.wishlist-table .cart-table thead tr th.product-title {
	padding-right: 50px;
}
.wishlist-table .cart-table thead tr th.product-title {
	padding-right: 40px;
}
.wishlist-table .cart-table tbody tr td.product-add-btn {
	padding-left: 0;
}


/*==== newsletter popup ====*/

.newsletter-popup-wrapper {
	width: 700px;
	height: 440px;
}

.newsletter-popup-content .newsletter-title {
	font-size: 34px;
	padding-bottom: 18px;
}
.newsletter-popup-content p {
	font-size: 18px;
}

.newsletter-popup-content .newsletter-popup-form input {
	max-width: 330px;
}
.newsletter-popup-content .newsletter-check {
	padding-top: 30px;
}






}

 
/* small mobile :320px. */
@media (min-width: 576px) and (max-width: 767.98px) {


.header-area {
	padding: 30px 0;
}

.logo {
	margin-top: 0;
}

.offset-menu-wrapper {
	padding: 0;
	position: absolute;
	top: -28px;
	right: 15px;
}

.single-slider {
	height: 550px;
}
.slider-cont h4 {
	font-size: 28px;
}
.slider-cont h2 {
	font-size: 88px;
}
.products-design .products-cont {
	padding-left: 0;
	padding-top: 25px;
	padding-right: 0;
}

.products-design {
	padding-top: 50px;
}

.products-design .products-image {
	margin-top: 50px;
}


.slider-cont-4 h4 {
	font-size: 22px;
	margin-bottom: 15px;
}
.slider-cont-4 h2 {
	font-size: 80px;
}
.slider-cont-4 p {
	font-size: 18px;
}

.watch-image {
	margin-bottom: 30px;
}
.watch-image .watch-content {
	position: absolute;
	left: 50px;
	bottom: 50px;
	width: 200px;
}


.search-header .search-title {
	font-size: 20px;
}
.search-header .search-close button {
	font-size: 20px;
}
.search-header .search-close button span:nth-child(1),
.search-header .search-close button span:nth-child(2) {
	top: 16px;
}
.search-form input {
	font-size: 24px;
}
.search-form button {
	font-size: 26px;
}
.search-footer-content h4 {
	font-size: 20px;
}
.shopping-cart-canvas{
    width: 300px;
    padding: 20px;
}

/*==== Index 4 ====*/

.header-menu-area {
    padding: 25px 0;
}
.header-menu-area .logo{
    display: block;
}
.header-menu-area .offset-menu-wrapper{
    display: block;
}


.modal-dialog {
	max-width: 470px;
}
.modal-products-content {
	padding: 30px 25px;
}
.modal-products-content .products-add {
	margin: 20px 0;
}
.modal-products-content .products-title {
	font-size: 18px;
}
.modal-products-content .price-rating .price {
	font-size: 20px;
}
.price-rating {
	margin-top: 5px;
}
.modal-products-content p{
    font-size: 14px;
    margin-top: 10px;
}
.modal-products-content .products-add .nice-number button {
	height: 38px;
	padding: 0px 10px;
}
.modal-products-content .products-add .nice-number input {
	height: 37px;
}
.modal-products-content .products-add .main-btn {
	line-height: 38px;
}



/*=== BLOG PAGE ====*/

.blog-content {
	padding: 0;
}

.blog-single-content {
	padding-top: 40px;
}
.blog-next-prev {
	font-size: 20px;
}
.blog-next-prev p {
	font-size: 14px;
}
    
/*==== About Us =====*/

.about-bg {
	height: 380px;
}

.about-company {
	padding-top: 20px;
}
.about-why {
	padding-top: 0;
}
.about-team-area {
	padding-top: 0;
}


/*==== Shop layout Page ====*/

.shop-description-tab .shop-tab-menu .nav .nav-item a {
	font-size: 18px;
}

.shop-description-tab .shop-tab-menu .nav .nav-item {
	margin: 15px;
}
.shop-details-content {
	padding-left: 0;
}

/*==== Contact Page ====*/


.single-contact-info.hr-border{
    border-left: 0;
    border-right: 0;
}
.contact-map #contact-map {
	height: 380px;
}


/*==== shopping cart Page ====*/

.shopping-cart-table .cart-table tbody tr td.product-image-name table tr td.name {
	padding: 0 20px;
}
.shopping-cart-table .cart-table tbody tr td.product-quantity .quantity .nice-number input {
	width: 90px !important;
	font-size: 14px;
}

.shopping-cart-table .cart-table thead tr th.product-thumb-title {
	padding-right: 280px;
}
.shopping-cart-table .cart-table thead tr th.product-title {
	padding-right: 50px;
}

.shopping-cart-table .cart-table tbody tr td.product-image-name table tr td.name a {
	font-size: 15px;
}

.cart-shopping {
	margin-top: 30px;
}
.check-login-cupon{
    margin-bottom: 0;
}
    
/*==== order tracking Page ====*/
.order-tracking-page .order-tracking-item P {
	color: #999;
	padding: 2px;
}
.order-span {
	text-align: left !important;
}
.order-form .single-order-form .order-text {
	width: 100%;
	text-align: left;
}
.order-form .single-order-form .order-track {
    width: 100%;
    margin-top: 0;
}

/*==== Faq Page ====*/
    
.faq .faq-content {
	margin-top: 20px;
}
.faq-title {
	margin-top: 20px;
}
.faq {
	padding-top: 30px;
}
.faq .faq-title span {
	color: #cc0000;
	font-size: 20px;
	padding-bottom: 15px;
}
.page-banner-content .page-title {
	font-size: 55px;
}
.faq-contact p {
	font-size: 24px;
}
.faq-content p {
	padding-right: 0;
	color: #999999;
}
.faq .faq-content span {
	margin-top: 15px;
}

/*==== wishlist Page ====*/

.wishlist-table .cart-table tbody tr td.product-image-name table tr td.name {
	padding: 0px 20px;
}
.wishlist-table .cart-table thead tr th.product-thumb-title {
	padding-right: 250px;
}
.wishlist-table .cart-table thead tr th.product-title {
	padding-right: 50px;
}
.wishlist-table .cart-table thead tr th.product-title {
	padding-right: 40px;
}
.wishlist-table .cart-table tbody tr td.product-add-btn {
	padding-left: 0;
}


.user-login-area {
	max-width: 370px;
	padding: 0 40px;
}


/*==== newsletter popup ====*/

.newsletter-popup-wrapper {
	width: 490px;
	height: 380px;
}

.newsletter-popup-content .newsletter-title {
	font-size: 24px;
	padding-bottom: 18px;
}

.newsletter-popup-content p {
	font-size: 18px;
}

.newsletter-popup-content .newsletter-popup-form {
	margin-top: 25px;
}


.newsletter-popup-content .newsletter-popup-form input {
	max-width: 330px;
}

.newsletter-popup-content .newsletter-popup-form .main-btn {
    margin-top: 20px;
}

.newsletter-popup-content .newsletter-check {
	padding-top: 30px;
}

.offcanvas-menu{
    width: 370px;
    padding-left: 20px;
    padding-right: 20px;
}




}
 
/* Large Mobile :480px. */
@media only screen and  (max-width: 575.98px) {

.header-area {
	padding: 30px 0;
}

.logo {
	margin-top: 0;
}

.offset-menu-wrapper {
	padding: 0;
	position: absolute;
	top: -25px;
	right: 15px;
}

.main-btn {
	padding: 0 30px;
	line-height: 48px;
}

.single-slider {
	height: 500px;
}

.slider-cont h4 {
	font-size: 20px;
}
.slider-cont h2 {
	font-size: 60px;
}
.products-design .products-cont {
	padding-left: 0;
	padding-top: 25px;
	padding-right: 0;
}

.products-design {
	padding-top: 50px;
}

.products-design .products-image {
	margin-top: 50px;
}

.products-design .products-cont h2 {
	font-size: 28px;
}
.arrivals-menu ul li {
	font-size: 16px;
	margin: 0 10px;
}
.banner_static-content {
	padding: 0;
}
    
.banner_static-content .banner-title {
	font-size: 20px;
}
.banner_static-content .banner-sale {
	font-size: 58px;
}
.banner_static-content p {
	font-size: 18px;
}

.single-collection a {
	font-size: 22px;
	top: 15px;
	left: 20px;
}

.section-title h3 {
	font-size: 26px;
}

.banner_static-content-3 .banner-title-3 {
	font-size: 38px;
}
.banner_static-content-3 p {
	font-size: 18px;
}

.single-countdown span {
	font-size: 24px;
	width: 60px;
	line-height: 60px;
}


.slider-cont-4 h4 {
	font-size: 18px;
	margin-bottom: 15px;
}


.slider-cont-4 h2 {
	font-size: 54px;
}
.slider-cont-4 p {
	font-size: 18px;
}

.slider-cont-4 .main-btn {
	padding: 0 18px;
	margin: 0px 3px;
}


.watch-image {
	margin-bottom: 30px;
}

.watch-image .watch-content {
	left: 20px;
	bottom: 20px;
    width: 86%;
}
.watch-image .watch-content.content-2 {
	left: 20px;
	bottom: 20px;
}
.watch-image .watch-content h4 {
	font-size: 20px;
    margin-bottom: 5px;
}
.watch-image .watch-content p {
	font-size: 14px;
    margin-bottom: 15px;
}

.hot_content .hot-title {
	font-size: 28px;
}
.hot_content .hot-price {
	font-size: 24px;
}
.newsletter-discount h3 {
	font-size: 26px;
}
.newsletter-form input {
	height: 50px;
	border: 1px solid #c0c0c0;
	padding: 0 12px;
}
.newsletter-form button {
	width: 100px;
	height: 50px;
	font-size: 14px;
}

.shopping-cart-canvas{
    width: 250px;
    padding: 20px;
}
.single-shopping-cart .cart-content {
	padding-right: 15px;
}
.single-shopping-cart .cart-content h6 a {
	font-size: 13px;
}
.single-shopping-cart .cart-content .quality {
	font-size: 13px;
}

/*==== Index 4 ====*/

.header-menu-area {
    padding: 25px 0;
}
.header-menu-area .logo{
    display: block;
}
.header-menu-area .offset-menu-wrapper{
    display: block;
}

.header-top .header-info p {
	font-size: 14px;
}



.modal-dialog {
	max-width: 80%;
	margin: auto;
}
.modal-products-content {
	padding: 30px 25px;
}
.modal-products-content .products-add {
	margin: 20px 0;
}
.modal-products-content .products-title {
	font-size: 18px;
}
.modal-products-content .price-rating .price {
	font-size: 20px;
}
.price-rating {
	margin-top: 5px;
}
.modal-products-content p{
    font-size: 14px;
    margin-top: 10px;
}
.modal-products-content .products-add .nice-number button {
	height: 38px;
	padding: 0px 10px;
}
.modal-products-content .products-add .nice-number input {
	height: 37px;
	width: 110px;
}
.modal-products-content .products-add .main-btn {
	line-height: 38px;
}



.page-banner-content .page-title {
	font-size: 44px;
}

/*=== BLOG PAGE ====*/

.blog-content {
	padding: 0;
}

.blog-content .blog-title,
.blog-content .blog-title a {
	font-size: 18px;
}

.blog-content .blog-date li a {
	font-size: 13px;
}
.blog-content .blog-date li {
	margin-left: 10px;
}
.blog-content .blog-date li a::before {
	left: -7px;
}
.blockquote {
	padding-left: 45px;
	margin-top: 40px;
}
.blockquote p {
	font-size: 20px;
}
.blog-single-content {
	padding-top: 40px;
}
.blog-next-prev a{
	font-size: 18px;
}
.blog-next-prev p {
	font-size: 13px;
}

.next-post,
.prev-post {
    width: 50%;
}

.single-comment .comment-content {
	padding-left: 0;
}
.single-comment .comment-thumb {
	position: relative;
	padding-bottom: 20px;
}
.comment-replay {
	padding-left: 0;
}

/*==== About Us =====*/

.about-bg {
	height: 380px;
}

.about-company {
	padding-top: 20px;
}
.about-why {
	padding-top: 0;
}
.about-team-area {
	padding-top: 0;
}
.about-title .title {
	font-size: 30px;
}
.company-content .content-title {
	font-size: 18px;
}
.about-item .items-content .item-title {
	font-size: 18px;
}



/*==== Shop layout Page ====*/

.shop-details-content {
	padding-left: 0;
}
.product-add .product-count .nice-number input {
	width: 120px !important;
	height: 42px;
    font-size: 16px;
}

.product-add .product-count .nice-number button {
	height: 46px;
	width: 30px;
}

.product-add .product-add-btn .main-btn {
	line-height: 44px;
}

.shop-details-content .product-rating span,
.shop-details-content .product-rating a {
	font-size: 14px;
}
.shop-details-content .product-title {
	font-size: 24px;
}
.shop-details-content .product-rating ul {
	display: block;
}

.shop-details-content .product-rating span{
    margin-left: 0;
}

.shop-description-tab .shop-tab-menu .nav .nav-item {
	margin: 0;
    margin-bottom: 15px;
    width: 50%;
}
.shop-description-tab .shop-tab-menu .nav .nav-item a {
	font-size: 18px;
}

.shipping-table {
	overflow: hidden;
	overflow-x: scroll;
}

.shop-size-guide {
	overflow: hidden;
	overflow-x: scroll;
}
.shop-size-guide .table tbody th.size {
	font-size: 13px;
}
.shop-size-guide .table td, .shop-size-guide .table th {
	padding: 10px 15px;
}
.shop-size-guide .table thead th {
	font-size: 13px;
}
.shop-shipping .table td, .shop-shipping .table th {
	padding: 10px 15px;
}
.shop-shipping .table th {
	font-size: 13px;
}
.shop-shipping .table td {
	font-size: 13px;
}

.shop-review .review-title {
	font-size: 20px;
}

.single-review .review-content {
	padding-left: 0;
	padding-top: 25px;
}


/*==== Contact Page ====*/


.single-contact-info.hr-border{
    border-left: 0;
    border-right: 0;
}
.contact-map #contact-map {
	height: 380px;
}


/*==== shopping cart Page ====*/

.shopping-cart-table .cart-table tbody tr td.product-image-name table tr td.name {
	padding: 0 20px;
}
.shopping-cart-table .cart-table tbody tr td.product-quantity .quantity .nice-number input {
	width: 90px !important;
	font-size: 14px;
}

.shopping-cart-table .cart-table thead tr th.product-thumb-title {
	padding-right: 230px;
}
.shopping-cart-table .cart-table thead tr th.product-title {
	padding-right: 50px;
}

.shopping-cart-table .cart-table tbody tr td.product-image-name table tr td.name a {
	font-size: 15px;
}

.cart-shopping {
	margin-top: 30px;
}
.cart-update-clear button {
	margin-right: 0;
	margin-bottom: 30px;
}

.check-login-cupon{
    margin-bottom: 0;
}
.checkout-page .check-login-cupon p {
        font-size: 14px;
}
.checkout-detail .single-checkout-order {
	padding: 15px;
    
}
.checkout-detail .single-checkout-order .single-checkout-pro .checkout-item p {
	font-size: 13px;
}

.checkout-page .check-login-cupon p {
	padding: 7px 13px;
}
.checkout-page .check-login-cupon p i {
	padding-right: 5px;
}
.checkout-detail .single-checkout-order .single-checkout-pro .order-total p {
	font-size: 16px;
}
.checkout-radio .pay-top label {
	font-size: 16px;
}
.checkout-radio .pay-top input[type="radio"] + label span {
	width: 12px;
	height: 12px;
	margin: -1px 8px 0 0;
}

.checkout-radio .pay-top input[type="radio"] + label span::before {
	height: 6px;
	left: 2px;
	top: 2px;
	width: 6px;
}
.checkout-radio .payment-box {
	padding-left: 24px;
	padding-top: 5px;
}
.checkout-radio .payment-box p{
	font-size: 14px;
}

/*==== order tracking Page ====*/
.order-tracking-page .order-tracking-item P {
	color: #999;
	padding: 2px;
}
.order-span {
	text-align: left !important;
}
.order-tracking-page .order-track input {
	font-size: 14px;
}
.order-form .single-order-form .order-text {
	width: 100%;
	text-align: left;
}
.order-form .single-order-form .order-track {
    width: 100%;
    margin-top: 0;
}
.faq-content p {
	padding-right: 0;
	color: #999999;
}
.faq .faq-content {
	margin-top: 20px;
}
.faq-title {
	margin-top: 20px;
}
.faq {
	padding-top: 30px;
}
.faq .faq-title span {
	color: #cc0000;
	font-size: 20px;
	padding-bottom: 20px;
}
.faq-contact p {
	font-size: 20px;
}
    
.error-item h5 {
	font-size: 26px;
}
    
.error-item p {
	font-size: 14px;
}
.error-item form input {
	width: 280px;
}
    
    
.login-reg {
	padding: 1px 30px 30px;
}



/*==== wishlist Page ====*/

.wishlist-table .cart-table tbody tr td.product-image-name table tr td.name {
	padding: 0px 20px;
}
.wishlist-table .cart-table thead tr th.product-thumb-title {
	padding-right: 250px;
}
.wishlist-table .cart-table thead tr th.product-title {
	padding-right: 50px;
}
.wishlist-table .cart-table thead tr th.product-title {
	padding-right: 40px;
}
.wishlist-table .cart-table tbody tr td.product-add-btn {
	padding-left: 0;
}

.wishlist-table .cart-table tbody tr td.product-image-name table tr td.name a {
	font-size: 14px;
}
.wishlist-table .cart-table thead tr th {
	font-size: 14px;
}
.wishlist-table .cart-table tbody tr td.product-price {
	font-size: 14px;
}
.wishlist-table .cart-table tbody tr td.product-stock .stock {
	font-size: 14px;
}


/*==== newsletter popup ====*/

.newsletter-popup-wrapper {
	width: 90%;
	height: 320px;
    padding: 15px;
}

.newsletter-popup-content .newsletter-title {
	font-size: 20px;
	padding-bottom: 5px;
}

.newsletter-popup-content p {
	font-size: 16px;
}

.newsletter-popup-content .newsletter-popup-form {
	margin-top: 10px;
	padding: 0 15px;
}

.newsletter-popup-content .newsletter-popup-form input {
	max-width: 330px;
    height: 50px;
}

.newsletter-popup-content .newsletter-popup-form .main-btn {
    margin-top: 10px;
}

.newsletter-popup-content .newsletter-check {
	padding-top: 15px;
}
.newsletter-popup-close {
	top: 5px;
	right: 10px;
	font-size: 15px;
}


/*==== offcanvas Menu ====*/

.offcanvas-menu{
    width: 270px;
    padding-left: 20px;
    padding-right: 20px;
}

.offcanvas-menu .mobile-menu ul li a {
	font-size: 16px;
}














}

